In [1]:
!pip install torch

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch in /usr/local/lib/python3.8/dist-packages (1.13.1+cu116)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch) (4.4.0)

In [2]:
import torch
print(torch.__version__)

1.13.1+cu116

In [3]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [4]:
movies = pd.read_csv('/content/drive/MyDrive/ml-1m/ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('/content/drive/MyDrive/ml-1m/ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('/content/drive/MyDrive/ml-1m/ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [7]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [8]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [9]:
training_set = pd.read_csv('/content/drive/MyDrive/ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int')
test_set = pd.read_csv('/content/drive/MyDrive/ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

In [10]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [11]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [12]:
nb_users = int(max(max(training_set[:, 0], ), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1], ), max(test_set[:, 1])))

In [13]:
nb_users, nb_movies

(943, 1682)

In [14]:
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:, 1] [data[:, 0] == id_users]
    id_ratings = data[:, 2] [data[:, 0] == id_users]
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data
training_set = convert(training_set)
test_set = convert(test_set)

In [15]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [16]:
training_set

tensor([[0., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [17]:
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [18]:
class SAE(nn.Module):
  def __init__(self, ):
    super(SAE, self).__init__()
    self.fc1 = nn.Linear(nb_movies, 20)
    self.fc2 = nn.Linear(20, 10)
    self.fc3 = nn.Linear(10, 20)
    self.fc4 = nn.Linear(20, nb_movies)
    self.activation = nn.Sigmoid()
  def forward(self, x):
    x = self.activation(self.fc1(x))
    x = self.activation(self.fc2(x))
    x = self.activation(self.fc3(x))
    x = self.fc4(x)
    return x

In [19]:
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [20]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = input.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+' loss: '+ str(train_loss/s))

epoch: 1 loss: tensor(1.7711)
epoch: 2 loss: tensor(1.0966)
epoch: 3 loss: tensor(1.0535)
epoch: 4 loss: tensor(1.0382)
epoch: 5 loss: tensor(1.0309)
epoch: 6 loss: tensor(1.0267)
epoch: 7 loss: tensor(1.0240)
epoch: 8 loss: tensor(1.0220)
epoch: 9 loss: tensor(1.0209)
epoch: 10 loss: tensor(1.0196)
epoch: 11 loss: tensor(1.0189)
epoch: 12 loss: tensor(1.0184)
epoch: 13 loss: tensor(1.0179)
epoch: 14 loss: tensor(1.0173)
epoch: 15 loss: tensor(1.0172)
epoch: 16 loss: tensor(1.0169)
epoch: 17 loss: tensor(1.0170)
epoch: 18 loss: tensor(1.0163)
epoch: 19 loss: tensor(1.0164)
epoch: 20 loss: tensor(1.0162)
epoch: 21 loss: tensor(1.0160)
epoch: 22 loss: tensor(1.0161)
epoch: 23 loss: tensor(1.0158)
epoch: 24 loss: tensor(1.0159)
epoch: 25 loss: tensor(1.0157)
epoch: 26 loss: tensor(1.0154)
epoch: 27 loss: tensor(1.0154)
epoch: 28 loss: tensor(1.0151)
epoch: 29 loss: tensor(1.0129)
epoch: 30 loss: tensor(1.0115)
epoch: 31 loss: tensor(1.0106)
epoch: 32 loss: tensor(1.0078)
epoch: 33 loss: tensor(1.0078)
epoch: 34 loss: tensor(1.0041)
epoch: 35 loss: tensor(1.0016)
epoch: 36 loss: tensor(0.9999)
epoch: 37 loss: tensor(0.9991)
epoch: 38 loss: tensor(0.9967)
epoch: 39 loss: tensor(0.9952)
epoch: 40 loss: tensor(0.9922)
epoch: 41 loss: tensor(0.9896)
epoch: 42 loss: tensor(0.9882)
epoch: 43 loss: tensor(0.9852)
epoch: 44 loss: tensor(0.9838)
epoch: 45 loss: tensor(0.9861)
epoch: 46 loss: tensor(0.9846)
epoch: 47 loss: tensor(0.9804)
epoch: 48 loss: tensor(0.9788)
epoch: 49 loss: tensor(0.9788)
epoch: 50 loss: tensor(0.9740)
epoch: 51 loss: tensor(0.9737)
epoch: 52 loss: tensor(0.9712)
epoch: 53 loss: tensor(0.9734)
epoch: 54 loss: tensor(0.9776)
epoch: 55 loss: tensor(0.9754)
epoch: 56 loss: tensor(0.9717)
epoch: 57 loss: tensor(0.9744)
epoch: 58 loss: tensor(0.9702)
epoch: 59 loss: tensor(0.9686)
epoch: 60 loss: tensor(0.9632)
epoch: 61 loss: tensor(0.9663)
epoch: 62 loss: tensor(0.9640)
epoch: 63 loss: tensor(0.9615)
epoch: 64 loss: tensor(0.9583)
epoch: 65 loss: tensor(0.9580)
epoch: 66 loss: tensor(0.9568)
epoch: 67 loss: tensor(0.9573)
epoch: 68 loss: tensor(0.9544)
epoch: 69 loss: tensor(0.9550)
epoch: 70 loss: tensor(0.9524)
epoch: 71 loss: tensor(0.9512)
epoch: 72 loss: tensor(0.9538)
epoch: 73 loss: tensor(0.9526)
epoch: 74 loss: tensor(0.9498)
epoch: 75 loss: tensor(0.9504)
epoch: 76 loss: tensor(0.9467)
epoch: 77 loss: tensor(0.9490)
epoch: 78 loss: tensor(0.9446)
epoch: 79 loss: tensor(0.9511)
epoch: 80 loss: tensor(0.9522)
epoch: 81 loss: tensor(0.9490)
epoch: 82 loss: tensor(0.9458)
epoch: 83 loss: tensor(0.9464)
epoch: 84 loss: tensor(0.9444)
epoch: 85 loss: tensor(0.9444)
epoch: 86 loss: tensor(0.9425)
epoch: 87 loss: tensor(0.9418)
epoch: 88 loss: tensor(0.9409)
epoch: 89 loss: tensor(0.9413)
epoch: 90 loss: tensor(0.9394)
epoch: 91 loss: tensor(0.9394)
epoch: 92 loss: tensor(0.9374)
epoch: 93 loss: tensor(0.9379)
epoch: 94 loss: tensor(0.9363)
epoch: 95 loss: tensor(0.9374)
epoch: 96 loss: tensor(0.9408)
epoch: 97 loss: tensor(0.9393)
epoch: 98 loss: tensor(0.9380)
epoch: 99 loss: tensor(0.9375)
epoch: 100 loss: tensor(0.9330)
epoch: 101 loss: tensor(0.9347)
epoch: 102 loss: tensor(0.9325)
epoch: 103 loss: tensor(0.9344)
epoch: 104 loss: tensor(0.9321)
epoch: 105 loss: tensor(0.9330)
epoch: 106 loss: tensor(0.9306)
epoch: 107 loss: tensor(0.9316)
epoch: 108 loss: tensor(0.9304)
epoch: 109 loss: tensor(0.9328)
epoch: 110 loss: tensor(0.9324)
epoch: 111 loss: tensor(0.9322)
epoch: 112 loss: tensor(0.9309)
epoch: 113 loss: tensor(0.9316)
epoch: 114 loss: tensor(0.9301)
epoch: 115 loss: tensor(0.9311)
epoch: 116 loss: tensor(0.9295)
epoch: 117 loss: tensor(0.9302)
epoch: 118 loss: tensor(0.9284)
epoch: 119 loss: tensor(0.9293)
epoch: 120 loss: tensor(0.9278)
epoch: 121 loss: tensor(0.9288)
epoch: 122 loss: tensor(0.9273)
epoch: 123 loss: tensor(0.9278)
epoch: 124 loss: tensor(0.9268)
epoch: 125 loss: tensor(0.9278)
epoch: 126 loss: tensor(0.9267)
epoch: 127 loss: tensor(0.9267)
epoch: 128 loss: tensor(0.9256)
epoch: 129 loss: tensor(0.9258)
epoch: 130 loss: tensor(0.9248)
epoch: 131 loss: tensor(0.9252)
epoch: 132 loss: tensor(0.9246)
epoch: 133 loss: tensor(0.9251)
epoch: 134 loss: tensor(0.9243)
epoch: 135 loss: tensor(0.9246)
epoch: 136 loss: tensor(0.9233)
epoch: 137 loss: tensor(0.9236)
epoch: 138 loss: tensor(0.9235)
epoch: 139 loss: tensor(0.9232)
epoch: 140 loss: tensor(0.9226)
epoch: 141 loss: tensor(0.9227)
epoch: 142 loss: tensor(0.9215)
epoch: 143 loss: tensor(0.9217)
epoch: 144 loss: tensor(0.9215)
epoch: 145 loss: tensor(0.9219)
epoch: 146 loss: tensor(0.9215)
epoch: 147 loss: tensor(0.9210)
epoch: 148 loss: tensor(0.9208)
epoch: 149 loss: tensor(0.9206)
epoch: 150 loss: tensor(0.9201)
epoch: 151 loss: tensor(0.9208)
epoch: 152 loss: tensor(0.9198)
epoch: 153 loss: tensor(0.9201)
epoch: 154 loss: tensor(0.9194)
epoch: 155 loss: tensor(0.9196)
epoch: 156 loss: tensor(0.9188)
epoch: 157 loss: tensor(0.9190)
epoch: 158 loss: tensor(0.9186)
epoch: 159 loss: tensor(0.9187)
epoch: 160 loss: tensor(0.9183)
epoch: 161 loss: tensor(0.9180)
epoch: 162 loss: tensor(0.9176)
epoch: 163 loss: tensor(0.9181)
epoch: 164 loss: tensor(0.9174)
epoch: 165 loss: tensor(0.9175)
epoch: 166 loss: tensor(0.9170)
epoch: 167 loss: tensor(0.9173)
epoch: 168 loss: tensor(0.9166)
epoch: 169 loss: tensor(0.9168)
epoch: 170 loss: tensor(0.9167)
epoch: 171 loss: tensor(0.9167)
epoch: 172 loss: tensor(0.9162)
epoch: 173 loss: tensor(0.9161)
epoch: 174 loss: tensor(0.9159)
epoch: 175 loss: tensor(0.9159)
epoch: 176 loss: tensor(0.9153)
epoch: 177 loss: tensor(0.9153)
epoch: 178 loss: tensor(0.9153)
epoch: 179 loss: tensor(0.9153)
epoch: 180 loss: tensor(0.9146)
epoch: 181 loss: tensor(0.9146)
epoch: 182 loss: tensor(0.9145)
epoch: 183 loss: tensor(0.9145)
epoch: 184 loss: tensor(0.9142)
epoch: 185 loss: tensor(0.9142)
epoch: 186 loss: tensor(0.9139)
epoch: 187 loss: tensor(0.9138)
epoch: 188 loss: tensor(0.9137)
epoch: 189 loss: tensor(0.9135)
epoch: 190 loss: tensor(0.9134)
epoch: 191 loss: tensor(0.9132)
epoch: 192 loss: tensor(0.9130)
epoch: 193 loss: tensor(0.9132)
epoch: 194 loss: tensor(0.9130)
epoch: 195 loss: tensor(0.9124)
epoch: 196 loss: tensor(0.9125)
epoch: 197 loss: tensor(0.9126)
epoch: 198 loss: tensor(0.9120)
epoch: 199 loss: tensor(0.9120)
epoch: 200 loss: tensor(0.9119)

In [21]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
    output = sae(input)
    target.require_grad = False
    output[target == 0] = 0
    loss = criterion(output, target)
    mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
    test_loss += np.sqrt(loss.data*mean_corrector)
    s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9510)